.label {
    -fx-text-fill: gray;
}

.cod-gray {
    -fx-background-color : #121212;
}

.check-box {
    -fx-text-fill: white;
}

.context-menu {
	-fx-background-color: #333333;
}

.menu-item {
	-fx-background-color: #333333;
}

.menu-item:hover {
	-fx-background-color: #292929;
}

.menu-item .label {
    -fx-text-fill: white;
}